<!DOCTYPE html> 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <title></title> 
    <style>


.pagebreak h3,h4{
  display: inline;
}
body {background-color: powderblue;}
h4  {color: red;}
</style>
</head> 



<body> 
    <form method = "post" enctype="multipart/form-data"> 

        {% csrf_token %} 
        <h3>{{ form.as_p }}</h3>
    
        


        
        <left><button type="submit">Upload</button></left> <br><br>
        <div class="pagebreak">
        <h3>Note:</h3><h4 style="font-family:'Courier New'">  Choose image with text (png,jpg)</h4></div>
    
    
    </form>
</body> 
</html>                 
